<p id="notice"><%= notice %></p>

<h1 class="col-lg-10">Windows</h1>

<% if current_user.admin? then %>
<%= link_to 'New Window', new_window_path, {class: "col-lg-2 btn btn-primary"}%>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class="col-lg-2">期間</th>
      <th class="col-lg-2">メッセージ</th>
      <th class="col-lg-2">解決案</th>
      <% if current_user.admin? then %>
      <th class="col-lg-2">操作</th>
      <% end %>
      <th class="col-lg-2">状態</th>
    </tr>
  </thead>

  <tbody>
    <% @windows.each do |window| %>
    <% case window.status %>
    <% when "requesting" then %>
      <tr class="danger">
    <% when "solving" then %>
      <tr class="warning">
    <% when "confirmed" then %>
      <tr class="info">
    <% else %>
      <tr class="success">
    <% end %>
        <td class="col-lg-2"><%= link_to window.period, window %></td>
        <td class="col-lg-2"><%= window.message %></td>
        <td class="col-lg-2"><%= link_to "Greatest: #{window.solutions.greatest&.score || 'No one solved yet' }", solutions_path(window_id: window.id ) %>
        <% if current_user.admin? then %>
        <td class="col-lg-2"><%= link_to 'Edit', edit_window_path(window) %></td>
        <% end %>
        <td class="col-lg-2"><%= window.status  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

