<% @windows.each do |window| %>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<% case window.status %>
<% when 'requesting' then %>
  <div class="panel panel-default">
<% when 'solving' then %>
  <div class="panel panel-danger">
<% when 'confirmed' then %>
  <div class="panel panel-info">
<% end %>
    <div class="panel-heading"><b><%= window.period %></b></div>
    <div class="panel-body"><%= window.message %></div>
    <div class="panel-footer">
      <% if window.requesting? %>
        <%= link_to(
          'シフト申し込み',
          window,
          { class: 'btn btn-primary' }
        ) %>
      <% elsif window.solving? %>
        <%= link_to(
          'シフト組み',
          new_solution_path(window_id: window.id),
          { class: 'btn btn-warning' }
        ) %>
        <%= link_to(
          '解答を見る',
          solutions_path(window_id: window.id),
          { class: 'btn btn-info' }
        ) %>
      <% else %>
        <%= link_to(
          '解答を見る',
          solutions_path(window_id: window.id),
          { class: 'btn btn-info' }
        ) %>
      <% end %>
      <% if current_user.admin? then %>
        <%= link_to(
          '編集',
          edit_window_path(window),
          { class: 'btn btn-success' }
        )%>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<br>

