<p id="notice"><%= notice %></p>

<h1>
  <%= @window.period %>
  <%= @window.message %>
</h1>

<div class="row">
<h2 class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">希望シフト表  <%=current_user.name%></h2>
</div>
<p>シフトに入るには、入りたい度に応じて、星をつけてください。</p>
<dl>
<dt>☆</dt><dd>できれば他の人に入って欲しい</dd>
<dt>☆☆</dt><dd>どちらかというと他の時間に入りたい</dd>
<dt>☆☆☆</dt><dd>どちらかといえばこの時間が都合がよい</dd>
<dt>☆☆☆☆</dt><dd>できればこの時間に入りたい</dd>
<div class='timetable list-group'>
    <% @shifts.each do |day, shiftday| %>
      <div class='day'>
        <div class='title list-group-item'><%= day %></div>
      <% shiftday.each do |shift| %>
        <% ur = @user_requests[shift.id] %>
        <div id='shift<%= shift.id %>' class='box a<%= shift.requests.length %> <%= ur ? "has_user_request" : "" %> list-group-item-heading'>
          <%= shift.start.strftime('%H:%M') %> - <%= shift.end.strftime('%H:%M') %>
          <form class='star-bearer list-group-item-text'>
            <input name="<%= shift.id %>" type="radio" class="star" value="1" <%= ur and ur.eagerness == 1 ? "checked" : "" %>/>
            <input name="<%= shift.id %>" type="radio" class="star" value="2" <%= ur and ur.eagerness == 2 ? "checked" : "" %>/>
            <input name="<%= shift.id %>" type="radio" class="star" value="3" <%= ur and ur.eagerness == 3 ? "checked" : "" %>/>
            <input name="<%= shift.id %>" type="radio" class="star" value="4" <%= ur and ur.eagerness == 4 ? "checked" : "" %>/>
          </form>
          <ul>
          <% shift.requests.order('eagerness DESC')[0..3].each do |k| %>
            <li class="eagerness<%=k.eagerness%>" id="request<%=k.id %>"><%= k.user.name %></li>
          <% end %>
          <% if shift.requests.length > 4 then %>
            <li> ... </li>
          <% end %>
          </ul>
      </div>
    <% end %>
    </div>
    <% end %>
</div>

<!-- %= link_to 'New Shift', new_shift_path % -->

<%= link_to 'Edit Message', edit_window_path(@window) %> |
<%= link_to 'Back', windows_path %>




<%= javascript_tag do %>
  window.update_disable = <%= not @window.requesting? %>;
<% end %>

<script>
  $ (function () {
  if (update_disable) {
    $('input.star').rating('disable');
  }
  $('input.star').change( function() {
    $.ajax({
       scriptCharset: 'utf-8',
       type:"PUT",
       url: '/api/update_request/put.json',
       data: {
         eagerness: $(this).val(), 
         shift: $(this).attr('name')
       },
       success: function(data){
         // $('#notice').text('eagerness saved!');
         $("#shift" + data.shift).addClass('has_user_request');
         if ($("#request" + data.request).length == 0) {
           $("#shift" + data.shift + ' ul').prepend(
                   $("<li id='request" + data.request + "'>" + $('#username').text() + "</li>"));
         }
         $("#request" + data.request).removeClass('eagerness1');
         $("#request" + data.request).removeClass('eagerness2');
         $("#request" + data.request).removeClass('eagerness3');
         $("#request" + data.request).removeClass('eagerness4');
         $("#request" + data.request).addClass('eagerness' + data.eagerness);
       }
    })
  })
});
</script>
