<!DOCTYPE html>
<html>
  <head>
    <title>Jimuto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/js/star-rating/jquery.rating.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script type="text/javascript" src="/js/star-rating/jquery.rating.js"></script>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<% if user_signed_in? %>
			<p><%= link_to "log out", destroy_user_session_path, method: :delete %></p>
      <p><%= link_to 'edit user-information', edit_user_registration_path %></p>
		<% end %>
  </body>
</html>
